.p1 {
    color: blue;
}

.div {
    background-color: brown;
    width: 200px;
    height: 100px;
}
.container{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 500px;
}

.div__1 {
    height: 100px;
    width: 100%;
    background-color: coral;
}

.div__2 {
    height: 100px;
    width: 100%;
    background-color: rgba(0, 30, 100, 0.5);
    display: block;
    transform: translate(20px, -50px)
}

.label {
    display: flex;
    flex-direction: column;
}